In [1]:
import numpy as np 
import pandas as pd
import seaborn as sns

In [2]:
train_data = pd.read_csv('Train.csv')
train_data.head()

   Unnamed: 0                                               TEXT  Label
0           0  Vacation wasted ! #vacation2017 #photobomb #ti...      0
1           1  Oh Wynwood, you’re so funny! : @user #Wynwood ...      1
2           2  Been friends since 7th grade. Look at us now w...      2
3           3  This is what it looks like when someone loves ...      3
4           4  RT @user this white family was invited to a Bl...      3

In [3]:
test_data = pd.read_csv('Train.csv')
test_data.head()

   Unnamed: 0                                               TEXT  Label
0           0  Vacation wasted ! #vacation2017 #photobomb #ti...      0
1           1  Oh Wynwood, you’re so funny! : @user #Wynwood ...      1
2           2  Been friends since 7th grade. Look at us now w...      2
3           3  This is what it looks like when someone loves ...      3
4           4  RT @user this white family was invited to a Bl...      3

In [4]:
X = train_data['TEXT']
y = train_data['Label']

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [5]:
# no pre processing and using countvectorizer

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.pipeline import Pipeline 

pipe = Pipeline([
    ('vectorize', CountVectorizer()),
    ('nb', MultinomialNB())
])
pipe.fit(X_train, y_train)

Pipeline(steps=[('vectorize', CountVectorizer()), ('nb', MultinomialNB())])

In [6]:
pipe.score(X_test, y_test)

0.2827857142857143

In [7]:
# with pre processing
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to C:\Users\Arnav
[nltk_data]     Pandita\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [8]:
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
import re

def clean_text(text):
    text = text.lower()
    text = re.sub(r'[^\w\s]', '', text)  # remove punctuation
    words = text.split()
    stop_words = set(stopwords.words('english'))
    words = [w for w in words if w not in stop_words]
    stemmer = PorterStemmer()
    words = [stemmer.stem(w) for w in words]
    return ' '.join(words)

In [9]:
X_train = X_train.apply(clean_text)
X_test = X_test.apply(clean_text)

pipe.fit(X_train, y_train)

Pipeline(steps=[('vectorize', CountVectorizer()), ('nb', MultinomialNB())])

In [10]:
pipe.score(X_test, y_test)

0.2795

In [11]:
# with TfidfVectorizer

from sklearn.feature_extraction.text import TfidfVectorizer
pipe = Pipeline([
    ('vectorizer', TfidfVectorizer()),
    ('nb', MultinomialNB())
])

pipe.fit(X_train, y_train)

Pipeline(steps=[('vectorizer', TfidfVectorizer()), ('nb', MultinomialNB())])

In [12]:
pipe.score(X_test, y_test)

0.2337142857142857

In [13]:
y_train.value_counts(normalize=True)

9     0.215036
2     0.101214
3     0.097464
7     0.062286
15    0.055625
13    0.046536
16    0.040089
17    0.039643
1     0.036804
11    0.034375
14    0.033500
6     0.029500
8     0.028839
5     0.028393
12    0.027482
4     0.026893
19    0.024804
10    0.024393
18    0.024357
0     0.022768
Name: Label, dtype: float64